h1{
    font-size:40px ;
}
body{
    font-family: 'Poppins', sans-serif;

}
.myself{
    width: 100%;
}
.name-highlight{
color: brown;
}
.about-my{
    width: 100%;
    height: 600px;
    padding: 20px;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.work{
    width: 100%;
}
.work .w-one-third{
    width:32%;
    float: left;
    margin-left: 1%;
}